<h1>Customers</h1>
<div>
  <ul>
    <li *ngFor="let cust of customers" [ngClass]="{selected: customer===cust}" (click)="customer=cust">{{cust.name}}</li>
  </ul>

  <div *ngIf="customer">
    <h1>{{customer.name}}</h1>
    <p><i>{{customer.name}} is at {{customer.address.street}} in {{customer.address.city}},   of {{customer.address.state}} in the {{customer.address.region}} region.</i></p>
    <br>
    <fieldset>
      <label><input [(ngModel)]="customer.name" ></label>
    </fieldset>

    <input [(ngModel)]="customer.address.street"><br>
    <input [(ngModel)]="customer.address.city"><br>
    <label><input type="checkbox" [(ngModel)]=hideAddress>Hide Address</label>
    <div [hidden]="hideAddress">
      <fieldset>
        <label>Street:</label> {{customer.address.street}}
      </fieldset>
      <fieldset>
        <label>City:</label> {{customer.address.city}}
      </fieldset>
      <fieldset>
        <label>State:</label> {{customer.address.state}}
      </fieldset>
      <fieldset>
        <select [(ngModel)]="customer.address.state">
          <option>Washington</option>
          <option>Oregon</option>
          <option>Los Angeles</option>
          <option>New Brunswick</option>
        </select>
      </fieldset>
      <fieldset>
        <select [(ngModel)]="customer.address.region">
          <option *ngFor="let region of regions">{{region}}</option>
      </select>
      </fieldset>
    </div>

  </div>

</div>