<h3>Address:</h3>
<fieldset>
  <label>
        Street:
        <input [(ngModel)]="address.street" placeholder="Street">
      </label>
</fieldset>
<fieldset>
  <label>
        City:
        <input [(ngModel)]="address.city" placeholder="City">
      </label>
</fieldset>
<fieldset>
  <label>
        State:
        <select [(ngModel)]="address.state">
          <!-- use *ngFor to list the states as options -->
          <option *ngFor="let state of states">{{state}}</option>
        </select>
      </label>
</fieldset>
<fieldset>
  <label>
        Region:
        <select [(ngModel)]="address.region">
          <option *ngFor="let region of regions">{{region}}</option>
        </select>
      </label>
</fieldset>