<h1><button (click)="left()"><</button>
  {{customer.name}}
  <button (click)="right()">></button></h1>

<p><i>
    {{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
    in {{customer.address.state}} in the {{customer.address.region}} region.
  </i></p>

<fieldset>
  <label>
      Name:
      <input [(ngModel)]="customer.name" placeholder="Customer name">
    </label>
</fieldset>

<br>
<label><input type="checkbox" [(ngModel)]="showAddress"/>Show address</label>

<!-- use *ngIf to hide/show the address -->
<!--<div [hidden]="hideAddress">-->
<div *ngIf="showAddress">
  <address-comp [address]="customer.address"></address-comp>
</div>