<h1>Customers</h1>
<div>

<p *ngIf="isBusy"><i>Loading customers...</i></p>
<p *ngIf="!isBusy"><i>Select a customer</i></p>
  <!-- Customer list begins here -->
  <ul>
    <li *ngFor="let cust of customers" (click)="customer = cust" [ngClass]="{selected: cust === customer}">
      {{cust.name}}
    </li>
  </ul>

  <hr>

  <!-- Customer detail begins here -->
  <div *ngIf="customer">
    <customer-detail [customer]="customer" (shift)="shift($event)" ></customer-detail>
  </div>
</div>