<h1>Customers</h1>
<p><i>Click to select a customer</i></p>

<ul>
  <li *ngFor="let cust of customers"
      (click)="customer = cust"
      [ngClass]="{selected: cust === customer}">
    {{cust.name}}
  </li>
  
</ul>

<hr>
<div *ngIf="customer">
  <h2>{{customer.name}}</h2>

  <p><i>
    {{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
    in {{customer.address.state}} in the {{customer.address.region}} region.
  </i></p>

  <fieldset>
    <label>
      Name:
      <input [(ngModel)]="customer.name" placeholder="Customer name">
    </label>
  </fieldset>

  <br>
  <label><input type="checkbox" [(ngModel)]="hideAddress"/>Hide address</label>

  <div [hidden]="hideAddress">
    <h3>Address:</h3>
    <fieldset>
      <label>
        Street:
        <input [(ngModel)]="customer.address.street" placeholder="Street">
      </label>
    </fieldset>
    <fieldset>
      <label>
        City:
        <input [(ngModel)]="customer.address.city" placeholder="City">
      </label>
    </fieldset>
    <fieldset>
      <label>
        State:
        <select [(ngModel)]="customer.address.state">
          <option>California</option>
          <option>Jalisco</option>
          <option>Quebec</option>
        </select>
      </label>
    </fieldset>
    <fieldset>
      <label>
        Region:
        <select [(ngModel)]="customer.address.region">
          <option *ngFor="let region of regions">{{region}}</option>
        </select>
      </label>
    </fieldset>
  </div>
</div>
