<script src="js/dots.js"></script>

<p>Close your right eye</p>
<p>With your left eye, look at the +</p>
<p>Adjust your distance to the screen until the red dot disappears, and click the mouse</p>
<p>When you see the red dot reappear, click the mouse</p>

